
.vs/euno-rosetta-server/project-colors.json

.vs/euno-rosetta-server/v17/.suo

.vs/ProjectSettings.json

.vs/slnx.sqlite

.vs/VSWorkspaceState.json

.vs/euno-rosetta-server/config/applicationhost.config

.vs/euno-rosetta-server/v16/.suo
